.footer{
    display: grid;
    /* justify-content: center; */
    grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
    flex-direction: row;
    /* align-items: center; */
    width: 100%;
    background-color: rgb(66, 133, 66);
    color: #fff;
    gap: 90px;
    padding: 60px;
}
ul{
    padding-top: 16px;
}
.f-second{
    width: 70%;
}
.f-list{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* width: 55%; */
    /* background-color: rgb(66, 133, 66); */
    /* color: #fff;  */
}
.f-list2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    
}
li{
    list-style: none;
}
.down{
    background-color: rgb(43, 41, 41);
    color: #fff;
    text-align: center;
}
.c{
    transform: translateY(5px);
}